/* add
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
*/
/*sidebarNavigation la thanh dieu huong cho phone: nen dat jutify-content:space-between 
  overlay la man den bao phu
  sideMenu la man menu list sau thu gon 
  gap loi neu thu de theo che do sticky-top... >> de navbar dau trang*/
  body{position:relative}
  .overlay-left,.sideMenu-left{position:fixed;bottom:0}
  .overlay-left{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
  .overlay-left.open{left:0;right:0}
  .sidebarNavigation-left{margin-bottom:0;z-index:999;justify-content:flex-start}
  .sidebarNavigation-left .leftNavbarToggler{margin-right:10px;order:-1}
  .sideMenu-left{left:-100%;top:52px;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
  .sideMenu-left.open{left:0;display:block;overflow-y:auto}
  .sideMenu-left ul{margin:0;padding:0 15px}
  
  
  /* sidebar Navigation-right: 
     Navigation >> Navigation-right
     //sideMenu >> sideMenu-right
     //overlay >> overlay-right
     leftNavbartoggle >> rightNavbarToggler */
  .overlay-right,.sideMenu-right{position:fixed;bottom:0}
  .overlay-right{top:0;left:100%;right:-100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
  .overlay-right.open{left:0;right:0}
  .sidebarNavigation-right{margin-bottom:0;z-index:999;justify-content:space-between}
  .sidebarNavigation-right .rightNavbarToggler{margin-left:10px;order:1}
  .sideMenu-right{right:-100%;top:52px;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
  .sideMenu-right.open{right:0;display:block;overflow-y:auto}
  .sideMenu-right ul{margin:0;padding:0 15px}
  
  
  /* style list nav: gach soc-ngang */
  @media only screen and (max-width: 768px) {.navbar-vertical > li {border-bottom: 1px solid white;}} 
  @media only screen and (min-width: 768px) {
      .navbar-vertical > li:hover {border-bottom: 2px solid #6B5B95;}
      .active{border-bottom: 2px solid #6B5B95;}
  } 