@media only screen and (max-width:768px){
    #title_xln{
        display: none;
    }
    #reponsive_row{
        border-top:1px solid #BCBCBE;
        border-bottom: 1px solid #BCBCBE;
    }
}
@media only screen and (min-width:768px){
    #logo_icon{
        display: none;
    }
    #title_xln{
        display: flex;
        justify-content: space-between;
    }
    #slogan_title{
        display: flex;
        justify-content: end;
        align-self: flex-end;
    }
    /* quang cao sau tin moi nhat */
    #ad_title{
        display: none;
    }
    /* style nhung tin moi nhat */
    .item_new > .media{
        display: none;
    }
    /* gach doc 1 */
    /* ke ngang */
    #row_1{
        border-bottom: 1px solid #BCBCBE;
    }
    #resp_1{
        border-right: 1px solid #BCBCBE;
        border-left: 1px solid #BCBCBE;
    }
    /* gach doc 2*/
    #resp_2{
        border-right: 1px solid #BCBCBE;
        border-left: 1px solid #BCBCBE;
    }
    /* scrollbar style */
    .scrollbar{
        height: 450px;
        width: 100%;
        overflow-y: scroll;
    }
    .force-overflow{
        min-height: 300px;
    }
    .scrollbar::-webkit-scrollbar-track{
        -webkit-box-shadow: solid 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    .scrollbar::-webkit-scrollbar{
        width: 7px;
        background-color: #F5F5F5;
    }
    .scrollbar::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: solid 0 0 6px rgba(0,0,0,.3);
        background-color: #BCBCBE;
    }
    /* sticky ad*/
    #sticky{
        position: sticky;
        top: 52px;
    }

}
#title_footer{
    border-top:1px solid #BCBCBE;
    border-bottom: 1px solid #BCBCBE;
}
#title_footer a{
    padding-left: 10px;
    padding-right:10px;
    font-size: 20px;
    color: gray;
}
/* css back to top */
#top-up {
    background:none;
    font-size: 3em;
    text-shadow:0px 0px 5px #c0c0c0;
    cursor: pointer;
    position: fixed;
    z-index: 998;
    color:#004993;
    bottom: 25px;
    right: 15px;
    display: none;
}
/* user_client */
#user_client{
    font-size:20px;
    width:35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
}
#user_client:hover{
    border: 2px solid #DC4C46;
}
/* css iframe responsive (video responsive) */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16/9  >>>  9/16= 56.25% */
}
.resp-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
}

/* menu style */
.menu-navbar{
    background: #EAE6DA;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.col-md-4  .menu-navbar:first-child{
    margin-top: 0px;
}
.menu-item{
    border-top:2px solid #BD3D3A;
}
.sidenav > .menu-navbar{
    margin-top: 0px;
    margin-bottom: 0px;
}
/* card-body */
.card-body{
    padding: 6px 0px 0px 2px;
}
/* mau tin */
.item_new{
    border-bottom: 1px dotted lightslategray;
}
#item_new > .item_new:last-child{
    border: 0px;
}

.item{
    border-bottom: 1px dotted lightslategray;
}
#item > .item:last-child{
    border: 0px;
}
.menu .media{
    padding: 0px 0px 7px 0px;
    border-bottom: 1px dotted lightslategray;
}
.menu .media:last-child{
    border: 0px;
}
