<div class="">
    <a href="#">
        <img src="/public/img/quang cao/ad1_1.png" alt="quang cao" style="width:100%;height:auto;" width="100" height="60">
    </a>
</div>
<div class="mt-3">
    <a href="#">
        <img src="/public/img/quang cao/ad1_2.png" alt="quang cao" style="width:100%;height:auto;" width="100" height="60">
    </a>
</div>
<div class="mt-3">
    <a href="#">
        <img src="/public/img/quang cao/ad1_3.png" alt="quang cao" style="width:100%;height:auto;" width="100" height="60">
    </a>
</div>