<div class="menu">
    <div class="menu-navbar">
        <h5 class="menu-item">Y kien ban doc</h5>
    </div>
    <div class="menu-body">
        <% for(let i=0;i <= <%= muncomment %>;i++){ %>
        <div class="media">
            <img class="rounded-circle" src="./unnamed.jpg" style="width:50px">
            <div class="media-body">
                <div class="d-flex">
                    <h6>
                        <%= comment[i].user %>
                    </h6>
                    <i>
                        <%= comment[i].time %>
                    </i>
                    <div class="ml-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="numlike"><%= comment[i].like %></span>
                                <button type="button" class="btn" onclick="counter()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <%= comment[i].text %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>