<div title="Về đầu trang" onmouseover="this.style.color='#590059'" onmouseout="this.style.color='#004993'" id="top-up">
    <i class="fas fa-arrow-circle-up"></i>
</div>
<div id="title_footer">
    <div class="container">
        <div class="d-flex">
            <a class="mr-auto" href="/">Home</a>
            <a href="https://www.facebook.com/FanpageXaLuan/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/VnEnews"><i class="fab fa-twitter"></i></a>
            <a href="https://plus.google.com/communities/101245546870872936393"><i class="fab fa-google-plus-g"></i></a>
            <a href="https://www.pinterest.com/pin/638526053395334640/"><i class="fab fa-pinterest"></i></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-group" style="background:#f4f4f4;">
        <div class="card border-0" style="background:#f4f4f4;">
            <div class="d-flex justify-content-center">
                <img src="../../public/img/logo/logo_title.png" width="90%" alt="logo">
            </div>
            <div class="card-body" style="color:gray;">
                <span class="fa fa-map-marker"></span>&nbsp;: so 111 nguyen trai, thanh xuan, ha noi <br>
                <span class="fa fa-phone"></span>: 0964621277 <br>
                <span class="fa fa-envelope"></span>: vietan212@gmail.com
            </div>
        </div>
        <div class="card border-0" style="background:#f4f4f4;">
            <div id="reponsive_row">
                <h4>Menu</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col"><a href="/doi_song" style="color:gray;">Doi song</a></div>
                        <div class="col"><a href="/fashion" style="color:gray;">Fashion</a></div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="/gioi_tre" style="color:gray;">Gioi_tre</a></div>
                        <div class="col"><a href="/am_nhac" style="color:gray;">Am nhac</a></div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="/dien_anh" style="color:gray;">Dien anh</a></div>
                        <div class="col"><a href="/khoa_hoc" style="color:gray;">Khoa hoc</a></div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="/the_thao" style="color:gray;">The thao</a></div>
                        <div class="col"><a href="/Hoc_duong" style="color:gray;">Hoc duong</a></div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="/do_vui" style="color:gray;">Do vui</a></div>
                        <div class="col"><a href="/them" style="color:gray;">Them</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0" style="background:#f4f4f4;">
            <h4>Tai ung dung</h4>
            <div class="card-body">
                <div class="row" style="background: white; border-radius:20px;">
                    <div class="input-group d-flex justify-content-center">
                        <div class="input-group-append">
                            <img src="../../public/img/logo/logo_icon.png" height="40">
                            <a class="align-self-center" style="color:gray;" href="#">XLN android</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="background: white; border-radius:20px;">
                    <div class="input-group d-flex justify-content-center">
                        <div class="input-group-append">
                            <img src="../../public/img/logo/logo_icon.png" height="40">
                            <a class="align-self-center" style="color:gray;" href="#">XLN ios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center p-1" style="background:#f4f4f4; border-top:1px solid #BCBCBE;">
    &copy; copyright 2018 Bao xa luan
</div>