<div id="title_xln">
    <img id="logo_title" src="../../public/img/logo/logo_title.png" alt="xln_logo" height="80" width="250">
    <p id="slogan_title">Tong hop tin tuc: doi song, fashion, gioi tre, am nhac, dien anh, khoa hoc, the thao, hoc
        duong,... </p>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation-right d-flex sticky-top" data-sidebarClass="navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" id="logo_icon" href="#"><img src="../../public/img/logo/logo_icon.png" width="70" class="img_title"
                alt="icon"></a>
        <button class="navbar-toggler rightNavbarToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav navbar-vertical mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doi_song">Doi song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fashion">Fashion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gioi_tre">Gioi tre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/am_nhac">Am nhac</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dien_anh">Dien anh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/khoa_hoc">Khoa hoc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/the_thao">The thao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hoc_duong">Hoc duong</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/do_vui">Do vui</a>
                </li>
            </ul>
        </div>
        <div class="ml-auto">
            <div class="bg-light" id="user_client">
                <i class="far fa-user" id="no_user"></i>
                <span id="user" style="color: #944743;"></span>
            </div>
        </div>
    </div>
</nav>