<div class="menu mt-3 sidenav">
    <div class="menu-navbar">
        <a class="menu-item" href="/hot_trend">Xu huong</a>
    </div>
    <% for(let k=1;k <= 7;k++){ %>
    <div class="media">
        <a href="<%= trend[k].href %>" class="mt-2 mr-2" style="width:40%;">
            <img src="<%= trend[k].img %>" style="width:100%;height:auto;" width="200" height="100">
        </a>
        <div class="media-body">
            <a href="<%= trend[k].href %>">
                <p class="media-title">
                    <%= trend[k].title %>
                </p>
            </a>
        </div>
    </div>
    <% } %>
</div>