<!DOCTYPE html>
<html>

<head>
    <title>Xa luan newspaper</title>
    <% include ../partial/head %>
</head>

<body id="top">
    <!--header-->
    <% include ../partial/header %>

    <main class="mt-3 container">
        <div class="row pb-3">
            <div class="col-md-6">
                <div class="card border-0">
                    <a class="card-img-top pb-3" href="<%= news[0].href %>">
                        <img src="<%= news[0].img %>" style="width:100%;height:auto;" width="200" height="100">
                    </a>
                    <div class="card-body">
                        <a class="card-title">
                            <a href="<%= news[0].href %>">
                                <h4>
                                    <%= news[0].title %>
                                </h4>
                            </a>
                        </a>
                        <p class="card-text">
                            <%= news[0].text %>
                        </p>
                    </div>
                </div>
                <% include ../partial/ad_title %>
            </div>
            <div class="col-md-2" id="resp_1">
                <div class="scrollbar">
                    <div class="force-overflow" id="item_new">
                        <% var i=1; for(;i <= 5;i++){ %>
                        <div class="item_new">
                            <a class="item-title" href="<%= news[i].href %>">
                                <p>
                                    <%= news[i].title %>
                                </p>
                            </a>
                            <div class="media">
                                <a href="<%= news[i].href %>" class="pt-2 pr-2" style="width:40%;">
                                    <img src="<%= news[i].img %>" style="width:100%;height:auto;" width="200" height="100">
                                </a>
                                <div class="media-body">
                                    <p>
                                        <%= news[i].text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <% include ../partial/ad1 %>
            </div>
        </div>

        <hr class="m-0" style="background:#BCBCBE;">

        <div class="row pt-3">
            <div class="col-md-4" id="item">
                <% for(;i <= 32;i++){ %>
                <div class="item">
                    <a href="<%= news[i].href %>">
                        <p class="item-title">
                            <%= news[i].title %>
                        </p>
                    </a>
                    <div class="media">
                        <a href="<%= news[i].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= news[i].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <p>
                                <%= news[i].text %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-md-4" id="resp_2">
                <!--doi song-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/doi_song">Doi song</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= doisong[0].href %>">
                            <img src="<%= doisong[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= doisong[0].href %>">
                                <h5>
                                    <%= doisong[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= doisong[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= doisong[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= doisong[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= doisong[k].href %>">
                                <p class="media-title">
                                    <%= doisong[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--fashion-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/fashion">Fashion</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= fashion[0].href %>">
                            <img src="<%= fashion[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= fashion[0].href %>">
                                <h5>
                                    <%= fashion[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= fashion[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= fashion[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= fashion[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= fashion[k].href %>">
                                <p class="media-title">
                                    <%= fashion[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--gioitre-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/gioi_tre">Gioi tre</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= gioitre[0].href %>">
                            <img src="<%= gioitre[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= gioitre[0].href %>">
                                <h5>
                                    <%= gioitre[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= gioitre[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= gioitre[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= gioitre[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= gioitre[k].href %>">
                                <p class="media-title">
                                    <%= gioitre[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--am nhac-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/am_nhac">Am nhac</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= amnhac[0].href %>">
                            <img src="<%= amnhac[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= amnhac[0].href %>">
                                <h5>
                                    <%= amnhac[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= amnhac[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= amnhac[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= amnhac[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= amnhac[k].href %>">
                                <p class="media-title">
                                    <%= amnhac[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--dien anh-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/dien_anh">Dien anh</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= dienanh[0].href %>">
                            <img src="<%= dienanh[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= dienanh[0].href %>">
                                <h5>
                                    <%= dienanh[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= dienanh[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= dienanh[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= dienanh[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= dienanh[k].href %>">
                                <p class="media-title">
                                    <%= dienanh[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--khoa hoc-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/khoa_hoc">Khoa hoc</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= khoahoc[0].href %>">
                            <img src="<%= khoahoc[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= khoahoc[0].href %>">
                                <h5>
                                    <%= khoahoc[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= khoahoc[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= khoahoc[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= khoahoc[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= khoahoc[k].href %>">
                                <p class="media-title">
                                    <%= khoahoc[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--the thao-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/the_thao">The thao</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= thethao[0].href %>">
                            <img src="<%= thethao[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= thethao[0].href %>">
                                <h5>
                                    <%= thethao[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= thethao[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= thethao[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= thethao[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= thethao[k].href %>">
                                <p class="media-title">
                                    <%= thethao[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--hoc duong-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/hoc_duong">Hoc duong</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= hocduong[0].href %>">
                            <img src="<%= hocduong[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= hocduong[0].href %>">
                                <h5>
                                    <%= hocduong[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= hocduong[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= hocduong[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= hocduong[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= hocduong[k].href %>">
                                <p class="media-title">
                                    <%= hocduong[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--do vui-->
                <div class="menu">
                    <div class="menu-navbar">
                        <a class="menu-item" href="/do_vui">Do vui</a>
                    </div>
                    <div class="card border-0">
                        <a class="card-img-top" href="<%= dovui[0].href %>">
                            <img src="<%= dovui[0].img %>" style="width:100%; height:auto" width="200" height="100">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="<%= dovui[0].href %>">
                                <h5>
                                    <%= dovui[0].title %>
                                </h5>
                            </a>
                            <p class="card-text">
                                <%= dovui[0].text %>
                            </p>
                        </div>
                    </div>
                    <% for(let k=1;k <= 2;k++){ %>
                    <div class="media">
                        <a href="<%= dovui[k].href %>" class="pt-2 pr-2" style="width:40%;">
                            <img src="<%= dovui[k].img %>" style="width:100%;height:auto;" width="200" height="100">
                        </a>
                        <div class="media-body">
                            <a href="<%= dovui[k].href %>">
                                <p class="media-title">
                                    <%= dovui[k].title %>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <% include ../partial/saw_most %>
                <% include ../partial/ad2 %>
                <% include ../partial/hot_trend %>
                <% include ../partial/ad3 %>
            </div>
        </div>
    </main>

    <footer class="mt-3" style="background:#f4f4f4;">
        <% include ../partial/footer %>
    </footer>
</body>

</html>