<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dang nhap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="container" style="width:400px; margin-top:50px;">
            <div id="box" style="box-shadow: 0px 0px 3px 5px #BCBCBE; border-radius:5px;">
                <div style="margin:5px">
                    <a class="d-flex justify-content-center" href="/">
                        <img class="mt-3" style="width:40%; height:auto;" src="/public/img/logo/logo_title.png" width="4"
                            height="2">
                    </a>
                    <form action="/login" method="POST" class="mb-3">
                        <% if (message) { %>
                        <span id="error" class="text-danger pl-3">
                            <%= message %></span>
                        <% } %>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label for="user"><i class="fas fa-user"></i>&nbsp;</label>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="user" name="username" placeholder="Ten truy cap">
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label for="pwd"><i class="fas fa-key"></i></label>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="pwd" name="password" placeholder="Mat khau">
                        </div>
                        <div class="d-flex mt-3 justify-content-center">
                            <button class="btn btn-outline-success" type="submit">Dang nhap</button>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="/forgetpassword" class="text-secondary">Quen mat khau?</a>
                            <a href="/signup" class="text-info pl-4">Dang ki</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").focus(function () {
                $("#error").hide();
            })
        })
    </script>
</body>

</html>