<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dang ki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="container" style="width:400px; margin-top:50px;">
            <div id="box" style="box-shadow: 0px 0px 3px 5px #BCBCBE; border-radius: 5px;">
                <div style="margin:5px">
                    <a class="d-flex justify-content-center" href="/">
                        <img class="mt-3" style="width:40%; height:auto;" src="/public/img/logo/logo_title.png" width="4" height="2">
                    </a>
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="first_name">Ten:</label><span id="spfirst_name" class="ml-3 text-danger"></span>
                            <input type="text" class="form-control" id="first_name" name="firstname">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Ho:</label><span id="splast_name" class="ml-3 text-danger"></span>
                            <input type="text" class="form-control" id="last_name" name="lastname">
                        </div>
                        <!--<div class="form-group">
                        <label for="email">Email:</label><span id="spemail" class="ml-3 text-danger"></span>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>-->
                        <div class="form-group">
                            <label for="user">Ten truy cap:</label><span id="spuser" class="ml-3 text-danger"></span>
                            <% if (message) { %>
                            <span id="sperror" class="ml-3 text-danger">
                                <%= message %></span>
                            <% } %>
                            <input type="text" class="form-control" id="user" name="username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mat khau:</label><span id="sppwd" class="ml-3 text-danger"></span>
                            <input type="password" class="form-control" id="pwd" name="password">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-outline-success" type="submit">Dang ki</button>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="/forgetpassword" class="text-info">Quen mat khau?</a>
                            <a href="/login" class="text-info pl-4">Dang Nhap</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#first_name").focusout(function () {
                if ($("#first_name").val() == "") $("#spfirst_name").text("Ten la bat buoc!!");
            }).focusin(function () {
                $("#spfirst_name").text("");
            })
            $("#last_name").focusout(function () {
                if ($("#last_name").val() == "") $("#splast_name").text("ho la bat buoc!!");
            }).focusin(function () {
                $("splast_name").text("");
            })
            /*$("#email").focusout(function () {
                if ($("#email").val() == "") $("#spemail").text("email la bat buoc!!");
            }).focusin(function () {
                $("#spemail").text("");
            })*/
            $("#user").focusout(function () {
                if ($("#user").val() == "") $("#spuser").text("ten tru cap la bat buoc!!");
            }).focusin(function () {
                $("#spuser").text("");
                $("#sperror").text("");
            })
            $("#pwd").focusout(function () {
                if ($("#pwd").val() == "") $("#sppwd").text("mat khau la bat buoc!!");
            }).focusin(function () {
                $("#sppwd").text("");
            })
        })
    </script>
</body>

</html>